


    <div class="row">
      <div class="col-md-8 mx-auto top-buffer">
        <div class="card text-center" id="map" style="height:375px"><img class="mx-auto" src="assets/images/earth.gif" width="297" height="297" alt="Find 2018 Summer Sites near you">
          <p>Click geolocate to find the sites nearest you ...</p>
        </div>
      </div>
    </div>
    <!-- /.row -->

    <div class="row top-buffer">
      <div class="col-md-8 mx-auto">
        <div class="card text-center">
          <div class="card-header">
            <p>Free and open to all people<br> DFR approved sites</p>
            <span id="responseText"></span>
          </div>
          <div class="card-body">
            <ul class="list-group mx-auto" id="contentString">

              <li class="list-group-item text-center" id="noResultsString"><strong>Search your present location, address, or Zip Code</strong></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <!-- /.row -->

    
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAd25a5DYATHihaZXMJLxG4EHCWKc08yy4&libraries=places,geometry&callback=initMap"></script>
